<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/admin/style.css">
</head>
<body>
    <%-include('../../partials/admin/header.ejs');%>
   
    <section id="left">
        <div class="container">
            <div class="row">
                <%-include('../../partials/admin/left.ejs');%>
                <div class="col-md-9">
                    <h2 class="text-primary text-center"> Testinorminals Details</h2>

                    <form action="/admin/uploadtesti" method="post" enctype="multipart/form-data">
                        <label for="" class="form-label text-dark fw-bold">Upload Testinorminals In Gallery:</label>
                        <div class="text-success"><%=message%></div>
                        <input type="file" name="testiupload" id="" class="form-control mt-1">
                        <button type="submit" class="btn btn-success form-control mt-2 mb-4">Upload</button>
                        
                    </form>
                    
                    <div class="fs-4 fw-bold">Total Testinorminal's: <%=testiCount%>&nbsp; &nbsp;<span class="text-success">Active: <%=testiActive%></span>&nbsp; &nbsp;<span class="text-danger">Inactive: <%=testiInactive%></span> </div>
                    <table class="table table-bordered border-primary mt-1">
                        <tr>
                            <th>S.no.</th>
                            <th>Quotes</th>
                            <th>Company Name</th>
                            <th>Date</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        <%testirecord.forEach((result,key)=>{%>
                            <tr>
                                <td><%=key+1%></td>
                                <td><%=result.quotes%></td>
                                <td><%=result.companyname%></td>
                                <td><%=result.postedDate%></td>
                                <td><img style="width: 100px;"src="/upload/<%=result.img%>" alt="" srcset=""></td>
                                <td><a href="/admin/testistatus/<%=result.id%>"><button class="btn btn-success"><%=result.status%></button></a></td>
                                <td><a href="/admin/testidelete/<%=result.id%>"><i class="bi bi-trash text-center"></i></a></td>
                            </tr>
                        <%})%>
                        
                    </table>
                </div>
            </div>
        </div>
    </section>
   

   

   <%- include('../../partials/admin/footer.ejs')%>
</body>
</html>